extends layout

block header-content
    h1 Welcome to my homepage

block main-content
    each place in data
        -let address = place.querySelector("address").contentText;
        div #{address} 
block footer-content 
    h1 This footer of homepage 
    p insert whatever u want